body{
    background-color:rebeccapurple;
    color(rgb red green blue);
    font-family: "Manufacturing Consent", system-ui;
}

header{
  border-bottom: solid 10px purple;
  padding: 20px;
  font-size: 40px;
  color:aqua

}

h1{
  font-size: 32px;
}

p{
  font-size: 20px;
}

section {
background-color: aquamarine;
padding-bottom: 80px;
padding-top: 80px;
justify-content: cente;
}